body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container > h3 {
  font-family: "Courier New", Courier, monospace;
  color: rgb(90, 57, 82);
  font-weight: 1000;
}

.container > p {
  font-size: xx-large;
}

#pinkboard {
  position: relative;
  margin: auto;
  height: 750px;
  width: 750px;
  animation: animate 1.2s infinite;
}

#pinkboard:before,
#pinkboard:after {
  content: "";
  position: absolute;
  background: #e982cf;
  width: 100px;
  height: 160px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

#pinkboard:before {
  left: 100px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25),
    0 10px 10px rgba(255, 255, 255, 0.22);
}

#pinkboard:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
